############################
# Environment variables
############################
.env
.env.*
!.env.example

############################
# Python virtual environment
############################
venv/
.venv/
env/
ENV/

############################
# Python cache & build
############################
__pycache__/
*.pyc
*.pyo
*.pyd

############################
# Logs
############################
*.log

############################
# OS / Editor
############################
.DS_Store
Thumbs.db
.vscode/
.idea/
